<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%PRODUCT_NAME%}</title>
  </head>
  <body>
    <div>
      <a href="/overview">Back to Overview</a>
    </div>
    <h1>{%PRODUCT_NAME%} {%IMAGE%}</h1>
    <p>From : {%FROM%}</p>
    <p>Quantity : {%QUANTITY%}</p>
    <div>
      <h2>Descriptif<h2>
        <p class="descriptif">{%DESCRIPTIF%}</p>   
    </div>
  </body>
</html>

<!-- Styles -->

<style>
  .descriptif{
    font-weight:100;
  }
</style>