<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Overview</title>
  </head>
  <body>
    <h1 class="documentTitle">ALL PRODUCTS</h1>
    {%PRODUCT_CARD%}
  </body>
</html>

<!-- Styles -->

<style>
  .documentTitle {
    display: block;
    text-align: center;
  }
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
  }
</style>
